* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    background-color: white;
    border-bottom:3px dotted grey;
}

.heading h1 {
    text-decoration: underline;
    margin: 10px auto;
}

.heading ul {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.heading li {
    float: left;
    margin: 30px 20px 10px;
    font-size: 20px;
    border: 2px solid grey;
    background-color: whitesmoke;
    padding: 3px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px grey;
    width: 100px;
}

.heading a {
    color: black;
    text-decoration: none;
}

.heading li:hover {
    background-color: grey;
}

.mainbody {
    display: flex;
    justify-content: center;
}

.main {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 400px;
}

.main h2 {
    text-decoration: underline;
    margin: 15px auto;
}

.form1 {
    background-color: bisque;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    width: 200px;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 2px 3px grey;
}

.form1 p {
    font-family: Arial, Helvetica, sans-serif;
}
    
.form1 label{
    font-family: Arial, Helvetica, sans-serif;
}

#subbutton {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.img_rotate {
    text-align: center;
    margin-top: 50px
}

.img_rotate h2 {
    text-decoration: underline;
}

.img_rotate img {
    margin-top: 30px;
}

.img_rotate form {
    margin-top: 65px;
}

.img_rotate input {
    padding: 5px 10px;
    margin: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    margin: auto;
}

.about_title {
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
}

.about_content {
    margin: auto;
    text-align: center;
    width: 500px;
}

.about_content p {
    font-size: 18px;
}

.about_read_more {
    text-align: center;
    margin: 20px auto;
}

.about_read_more:hover {
    cursor: pointer;
}